/*
 * media.css
*/

/* 屏幕可视窗口尺寸小于'720'像素的设备 */
@media screen and (max-width: 720px) {
    /* * {
        margin: 0;
        padding: 0;
    } */

    /* body {} */

    header {
        font-size: 12px;
    }

    .content {
        width: 100%;
        font-size: 12px;
    }

    .author,
    .descr {
        font-size: 1.2rem;
        text-align: center;
    }

    footer {
        height: max-content;
        font-size: 10px;
    }
}