/* * style.css */

/* * --------------- General --------------- * */

:root {
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --site-background-color: #f4f4f4;
    --card-background-color: #fff;
    --footer-background-color: #e1e3ea;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "思源宋体";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/QELo5El7RfNnZTfi5fwH5.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/C8OOVVrW8YWQJCml7IkHd.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈数黑体";
    font-weight: 700;
    src: url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/CS1KhJkjei06BLRbX0RsW.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/On4DRzNbpJ8p/Irxj-W913ycPdMdYzTiEG.woff") format("woff");
    font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里巴巴普惠体";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/wAsNbh1oEATtAXdWqu00i.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/jHAN59XAcw7A/MzCJI3CjOxLL0yTVuljIW.woff") format("woff");
    font-display: swap;
}

.iconfont {
    font-size: 1.6em !important;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: '阿里妈妈数黑体', Arial, Helvetica, sans-serif;
    background-color: var(--site-background-color);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    opacity: 1;
    font-size: 20px;
    background-color: var(--card-background-color);
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
}

.link {
    display: flex;
}

.link ul {
    list-style-type: none;
}

.link ul li a {
    text-decoration: none;
    color: #000;
}

.link>ul:not(:first-child) {
    margin-left: 10px;
}

.register a {
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

.content {
    width: 60%;
    /* max-width: 1200px; */
    background-color: rgba(255, 255, 255, 0.599);
    /* opacity: 1; */
    border-radius: 10px;
    margin: 10px auto 0;
    line-height: 2.4;
    text-align: center;
    padding-top: 5px;
}

.content img {
    width: 10%;
    border-radius: 100%;
    margin: 0 auto;
    animation: avatar-effects infinite 20s linear;
    padding-top: 20px;
}

.content img:hover {
    animation-play-state: paused;
}

@keyframes avatar-effects {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.author,
.descr {
    margin: 0 auto;
    font-size: 1.28rem;
}

.social {
    display: flex;
    justify-content: center;
}

.social ul {
    list-style-type: none;
}

.social ul li a {
    text-decoration: none;
    color: #000;
}

.social>ul:not(:first-child) {
    margin-left: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--card-background-color);
    clear: both;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 2;
    margin: 10px auto 0;
    padding: 20px 0;
}

/* * Dark mode */

@media screen and (prefers-color-scheme: dark) {
    .iconfont {
        color: #10aec2;
    }

    body {
        background-color: #121212;
    }

    header {
        background-color: #262626;
    }

    .site-title,
    .link ul li a,
    .register a,
    .fen-ge-fu {
        color: #f4f4f4;
    }

    .content {
        background-color: #262626;
        color: #f4f4f4;
    }

    footer {
        color: #e1e3ea;
        background-color: #262626;
    }
}